*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body{
  background-color: white !important;
}
.header{
  background-color: black;
  height: 70vh !important;
}
.bg_img{
  background-image: url(assets/h1_hero.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  width: 100%;
  background-size:cover;
  color: white !important;
}
.bg_img h1{
  font-size: 45px !important;
  
}
.blue_text{
  color: rgb(0, 0, 101);
  font-weight: 600;
  font-size: 32px !important;
}
.section_bg_img{
  background-image: url(assets/section_bg01.png.webp);
  background-repeat: no-repeat;
  background-attachment:fixed;
  width: 100%;
  background-size:cover;
  color: white !important;
}
.section_bg_img2{
  background-image: url(assets/section_bg02.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  color: white !important;
}
.footer_bg_img{
  background-image: url(assets/section_bg03.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  color: white !important;
}
